@{
    Layout = null;
}

<script src="~/js/jquery-3.2.1.min.js"></script>
<script src="~/layui/layui.js"></script>
<link href="~/layui/css/layui.css" rel="stylesheet" />
<script src="~/layui/xm-select.js"></script>

<form style="text-align:center;" class="layui-form">
    <br />
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label"><span style="color:red;">*</span>所属公司</label>
            <div class="layui-input-inline">
                <select name="Corp" id="corpSelect" lay-verify="required" lay-filter="corpSelect" lay-search></select>
            </div>
            <label class="layui-form-label"><span style="color:red;">*</span>所属部门</label>
            <div class="layui-input-inline">
                <select name="Dept" id="deptSelect" lay-verify="required" lay-filter="deptSelect" lay-search></select>
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label"><span style="color:red;">*</span>所属岗位</label>
            <div class="layui-input-inline">
                <div id="xm" class="xm-select-demo"></div>
            </div>
            <label class="layui-form-label"><span style="color:red;">*</span>账户</label>
            <div class="layui-input-inline">
                <input type="text" class="layui-input" lay-verify="required" id="UserCode" placeholder="请输入账户">
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label"><span style="color:red;">*</span>姓名</label>
            <div class="layui-input-inline">
                <input type="text" class="layui-input" id="UserName" lay-verify="required" placeholder="请输入姓名">
            </div>
            <label class="layui-form-label"><span style="color:red;">*</span>联系电话</label>
            <div class="layui-input-inline">
                <input type="text" class="layui-input" lay-verify="required" id="Phone" placeholder="请输入联系电话">
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">Email</label>
            <div class="layui-input-inline">
                <input type="text" class="layui-input" id="Email" lay-verify="" placeholder="请输入Email">
            </div>
            <label class="layui-form-label"></label>
            <div class="layui-input-inline">
            </div>
        </div>
    </div>
    <div class="layui-form-item layui-form-text">
        <label class="layui-form-label">地址</label>
        <div class="layui-input-block">
            <textarea class="layui-textarea" id="Address" placeholder="地址"></textarea>
        </div>
    </div>
    <div class="layui-form-item">
        <div align="center">
            <button class="layui-btn" lay-submit="" lay-filter="btnCommit">保存</button>
            &nbsp;
            <button class="layui-btn layui-btn-danger" onclick="btnClose()">关闭</button>
        </div>
    </div>
</form>

<script>
    function GetCorp(form) {
        $.ajax({
            type: 'get',
            dataType: 'json',
            url: '@Url.Action("GetCorp", "Public")',
            success: function (res) {
                if (res.code == 0) {
                    var CorpId = "";
                    $.each(res.data, function (index, item) {
                        if (index == 0) {
                            CorpId = item.CorpId;
                        }
                        $('#corpSelect').append('<option value="' + item.CorpId + '">' + item.CorpName + '</option>');
                    });
                    GetDept(form, CorpId)
                    form.render('select');
                } else {
                    layer.msg(res.msg, {
                        icon: 5
                    });
                }
            },
            error: function (res) {
                layer.msg("加载公司信息出错，请联系管理员", {
                    icon: 5
                });
            }
        });
    }

    function GetDept(form,value) {
        document.getElementById("deptSelect").options.length = 0;
        var CorpId = "";
        if (value == null || value == "" || value == undefined) {
            CorpId = $('select[name="Corp"] option:selected').val();
        } else {
            CorpId = value;
        }
        $.ajax({
            type: 'get',
            dataType: 'json',
            url: '@Url.Action("GetDept", "Public")',
            data: {
                CorpId: CorpId
            },
            success: function (res) {
                if (res.code == 0) {
                    var DeptId = "";
                    $.each(res.data, function (index, item) {
                        if (index == 0) {
                            DeptId = item.DeptId;
                        }
                        $('#deptSelect').append('<option value="' + item.DeptId + '">' + item.DeptName + '</option>');
                    });
                    if (form != undefined) {
                        form.render('select');
                        GetPost(DeptId, null);
                    }                    
                } else {
                    layer.msg(res.msg, {
                        icon: 5
                    });
                }
            },
            error: function (res) {
                layer.msg("加载部门信息出错，请联系管理员", {
                    icon: 5
                });
            }
        });
    }

    function GetPost(value,cValue) {
        var DeptId = "-99";
        if (value == null || value == "" || value == undefined) {
            DeptId = $('select[name="Dept"] option:selected').val();
        } else {
            DeptId = value;
        }
        $.ajax({
            type: 'get',
            dataType: 'json',
            url: '@Url.Action("GetPostTree", "Public")',
            data: { DeptId: DeptId },
            success: function (res) {
                if (res.code == 0) {
                    xm = xmSelect.render({
                        el: '#xm',
                        data: res.data,
                        //显示为text模式
                        model: { label: { type: 'text' } },
                        //单选模式
                        radio: true,
                        //选中关闭
                        clickClose: true,
                        //树
                        tree: {
                            show: true,
                            //非严格模式
                            strict: false,
                            //默认展开节点
                            expandedKeys: [-1],
                        },
                        //展开所有节点
                        expandedKeys: true
                    });
                    if (res.data.length > 0) {
                        if ('@ViewBag.status' == "add") {
                            xm.setValue([res.data[0].value]);
                        } else {
                            xm.setValue([cValue]);
                        }
                    } else {
                        if (DeptId == null || DeptId == "" || DeptId == undefined) {
                            GetDept(form, $('select[name="Dept"] option:selected').val());
                        }                        
                    }
                } else {
                    layer.msg(res.msg, { icon: 5 });
                }
            }, error: function () {
                layer.msg("接口出错，请联系管理员", { icon: 5 });
            }
        });
    }

    var form, layer, xm;
    layui.use(["layer", "form", 'jquery'], function () {
        layer = layui.layer, form = layui.form;
        form.render();
        GetCorp(form);
        GetDept(form);
        //GetPost(null,null);
        //监听公司下拉框变更
        form.on('select(corpSelect)', function (data) {
            GetDept(form, data.value);
        });
        //监听部门下拉框变更
        form.on('select(deptSelect)', function (data) {
            GetPost(data.value);
        });

        //监听提交
        form.on("submit(btnCommit)", function (data) {
            var UserCode = $("#UserCode").val();
            var UserName = $("#UserName").val();
            var Phone = $("#Phone").val();
            var Email = $("#Email").val();
            var Address = $("#Address").val();
            var CorpId = $('select[name="Corp"] option:selected').val();
            var DeptId = $('select[name="Dept"] option:selected').val();
            var PostId = xm.getValue('valueStr');
            var status = '@ViewBag.status';
            var url = status == "add" ? '@Url.Action("Insert","AppUser")' : '@Url.Action("Modify", "AppUser")';
            var data = status == "add" ?
                {

                    UserCode: UserCode,
                    UserName: UserName,
                    Phone: Phone,
                    Email: Email,
                    Address: Address,
                    CorpId: CorpId,
                    DeptId: DeptId,
                    PostId: PostId
                }
                :
                {
                    UserCode: UserCode,
                    UserName: UserName,
                    Phone: Phone,
                    Email: Email,
                    Address: Address,
                    CorpId: CorpId,
                    DeptId: DeptId,
                    PostId: PostId,
                    UserId:'@ViewBag.UserId'
                };
            $.ajax({
                type: 'post',
                dataType: 'json',
                url: url,
                data: data,
                success: function (res) {
                    if (res.code == 200) {
                        parent.layer.close(parent.layer.getFrameIndex(window.name));
                        parent.layer.msg(res.msg, {
                            icon: 6
                        });
                        parent.Refresh();
                        return false;
                    } else {
                        layer.msg(res.msg, { icon: 5 });
                        return false;
                    }
                },
                error: function () {
                    layer.msg("接口出错，请联系管理员", { icon: 5 });
                    return false;
                }
            });
            return false;
        });
    });

    function btnClose() {
        var index = parent.layer.getFrameIndex(window.name);
        parent.layer.close(index);
    }

    $(document).ready(function () {
        if ('@ViewBag.status' == "add") {
            return;
        }
        setTimeout(function () {
            $.ajax({
                type: 'get',
                dataType: 'json',
                url: '@Url.Action("GetById", "AppUser")',
                data: { UserId: '@ViewBag.UserId' },
                success: function (res) {
                    if (res.code == 0) {
                        $("#UserCode").val(res.data.UserCode);
                        $("#UserName").val(res.data.UserName);
                        $("#Phone").val(res.data.Phone);
                        $("#Email").val(res.data.Email);
                        $("#Address").val(res.data.Address);
                        $("#corpSelect option[value='" + res.data.CorpId + "']").prop("selected", true);
                        $("#deptSelect option[value='" + res.data.DeptId + "']").prop("selected", true);
                        GetPost(res.data.DeptId, res.data.PostId);
                        //xm.setValue([res.data.PostId]);
                        form.render('select');
                    }
                }, error: function (res) {
                    layer.msg("接口出错，请联系管理员", { icon: 5 });
                }
            });
        }, 300);
    });
</script>