
@{
    Layout = null;
}
<script src="~/js/jquery-3.2.1.min.js"></script>
<link href="~/layui/css/layui.css" rel="stylesheet" />
<script src="~/layui/layui.js"></script>

<form style="text-align:center;" class="layui-form">
    <br />
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label"><span style="color:red;">*</span>审批流类型</label>
            <div class="layui-input-inline">
                <select name="Type" id="typeSelect" lay-verify="" lay-filter="typeSelect" lay-search></select>
            </div>
            <label class="layui-form-label"><span style="color:red;">*</span>审批流名称</label>
            <div class="layui-input-inline">
                <input type="text" class="layui-input" id="ApprFlowName" lay-verify="required" placeholder="请输入审批流名称">
            </div>
        </div>
    </div>
    <div class="layui-form-item layui-form-text">
        <label class="layui-form-label">备注</label>
        <div class="layui-input-block">
            <textarea class="layui-textarea" id="Note" placeholder="备注"></textarea>
        </div>
    </div>
    <div class="layui-form-item">
        <div align="center">
            <button class="layui-btn" lay-submit="" lay-filter="btnCommit">保存</button>
            &nbsp;
            <button class="layui-btn layui-btn-danger" onclick="btnClose()">关闭</button>
        </div>
    </div>
</form>

<script>
    function GetApprType(form) {
        $.ajax({
            type: 'get',
            dataType: 'json',
            url: '@Url.Action("GetApprType", "WorkFlow")',
            success: function (res) {
                if (res.code == 0) {
                    $.each(res.data, function (index, item) {
                        $('#typeSelect').append('<option value="' + item.ApprTypeId + '">' + item.ApprTypeName + '</option>');
                    });
                    form.render('select');
                } else {
                    layer.msg(res.msg, {
                        icon: 5
                    });
                }
            },
            error: function (res) {
                layer.msg("接口出错，请联系管理员", {
                    icon: 5
                });
            }
        });
    }
    var layer, form;
    layui.use(["layer", "form"], function () {
        layer = layui.layer, form = layui.form;
        form.render();
        if ('@ViewBag.status' == 'add') {
            GetApprType(form);
        }
        form.on("submit(btnCommit)", function (data) {
            var ApprTypeId = $('select[name="Type"] option:selected').val();
            var ApprFlowName = $("#ApprFlowName").val();
            var Note = $("#Note").val();
            var status = '@ViewBag.status';
            var url = status == "add" ? '@Url.Action("InsertApprFlow","WorkFlow")' : '@Url.Action("ModifyApprFlow","WorkFlow")';
            var data = status == "add" ?
                {
                    ApprTypeId: ApprTypeId,
                    Note: Note,
                    ApprFlowName: ApprFlowName,
                }
                :
                {
                    ApprTypeId: ApprTypeId,
                    Note: Note,
                    ApprFlowName: ApprFlowName,
                    ApprFlowId: '@ViewBag.ApprFlowId'
                };
            $.ajax({
                type: 'post',
                dataType: 'json',
                url: url,
                data: data,
                success: function (res) {
                    if (res.code == 200) {
                        parent.layer.close(parent.layer.getFrameIndex(window.name));
                        parent.layer.msg(res.msg, {
                            icon: 6
                        });
                        parent.Refresh();
                        return false;
                    } else {
                        layer.msg(res.msg, { icon: 5 });
                        return false;
                    }
                },
                error: function () {
                    layer.msg("接口出错，请联系管理员", { icon: 5 });
                    return false;
                }
            });
            return false;
        });
    });
    function btnClose() {
        var index = parent.layer.getFrameIndex(window.name);
        parent.layer.close(index);
    }

    $(document).ready(function () {
        if ('@ViewBag.status' == 'add') {
            return;
        }
        $.ajax({
            type: 'get',
            dataType: 'json',
            url: '@Url.Action("GetApprFlowById","WorkFlow")',
            data: { ApprFlowId: '@ViewBag.ApprFlowId' },
            success: function (res) {
                if (res.code == 0) {
                    $('#typeSelect').append('<option value="' + res.data.ApprTypeId + '">' + res.data.ApprTypeName + '</option>');
                    form.render('select');
                    $("#typeSelect option[value='" + res.data.ApprTypeId + "']").prop("selected", true);
                    $("#ApprFlowName").val(res.data.ApprFlowName);
                    $("#Note").val(res.data.Note);
                    form.render('select');
                } else {
                    layer.msg(res.msg, { icon: 5 });
                }
            }, error: function (res) {
                layer.msg("接口出错，请联系管理员", { icon: 5 });
            }
        });
    });
</script>