@{
    Layout = null;
}
<script src="~/js/jquery-3.2.1.min.js"></script>
<script src="~/layui/layui.js"></script>
<link href="~/layui/css/layui.css" rel="stylesheet" />
<link href="~/css/ystep.css" rel="stylesheet" />
<script src="~/js/ystep.js"></script>
<form class="layui-form">
    <br />
    <div class="layui-form-item">
        <label class="layui-form-label"></label>
        <div class="layui-inline">
            <a class="layui-btn layui-btn-sm layui-btn-disabled" id="btnCommit" onclick="btnCommit()">提交</a>
        </div>
        <div class="layui-inline">
            <a class="layui-btn layui-btn-sm layui-btn-disabled layui-btn-danger" id="btnTakeBack" onclick="btnTakeBack()">收回</a>
        </div>
        <div class="layui-inline">
            <a class="layui-btn layui-btn-sm layui-btn-disabled layui-btn-danger" id="btnBack" onclick="btnBack()">退回</a>
        </div>
        <div class="layui-inline">
            <a class="layui-btn layui-btn-sm layui-btn-normal layui-btn-disabled" id="btnPrint" onclick="btnPrint()">打印流程</a>
        </div>
    </div>
    <br />
    <div class="layui-form-item">
        <label class="layui-form-label">标题</label>
        <div class="layui-input-block">
            <a id="Title" class="layui-form-label-col" style="color:skyblue;text-decoration:underline;"></a>
            <input class="layui-input" id="txt_Title" type="text" />
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">说明</label><div class="layui-input-block">
            <textarea class="layui-textarea" id="Note" placeholder="审批说明"></textarea>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">发布公司</label><div class="layui-input-inline">
            <input class="layui-input" type="text" id="CorpName" value="@ViewBag.CorpName" readonly />
        </div>
        <label class="layui-form-label">发布部门</label><div class="layui-input-inline">
            <input class="layui-input" type="text" id="DeptName" value="@ViewBag.DeptName" readonly />
        </div>
        <label class="layui-form-label">发布岗位</label><div class="layui-input-inline">
            <input class="layui-input" type="text" id="PostName" value="@ViewBag.PostName" readonly />
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">发布人</label><div class="layui-input-inline">
            <input class="layui-input" id="UserName" type="text" value="@ViewBag.UserName" readonly />
        </div>
        <label class="layui-form-label">联系电话</label><div class="layui-input-inline">
            <input class="layui-input" id="Phone" type="text" value="@ViewBag.Phone"  readonly />
        </div>
        <label class="layui-form-label">发布时间</label><div class="layui-input-inline">
            <input class="layui-input" id="SubmissionTime" type="text" readonly />
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">审批意见</label><div class="layui-input-block">
            <textarea class="layui-textarea" id="ApprNote" placeholder="审批意见"></textarea>
        </div>
    </div>
    <div class="layui-form-item" id="zdyry">
        <label class="layui-form-label">已定义可选审批人</label><div class="layui-input-block" id="div_person"></div>
    </div>
    <div class="layui-form-item" id="assign">
        <label class="layui-form-label">下一审批人</label><div class="layui-input-inline">
            <input class="layui-input" id="AssignUser" type="text" placeholder="单击弹出审批人选择" readonly/>
        </div>
        <div class="layui-input-inline"><a class="layui-btn  layui-btn-danger" onclick="ClearChoose()">清除已选</a></div>
        <label class="layui-form-label">下一环节</label><div class="layui-input-inline">
            <input class="layui-input" id="NextNodeName" type="text" placeholder="下一环节" readonly />
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">审批节点</label>
        <div class="layui-input-block" >
            <iframe id="ApprNode" width="98%" src="/WorkFlow/FlowNodes" height="80" marginheight="0" marginwidth="0"></iframe>
        </div>
    </div>
    <table class="layui-table" lay-size="sm">
        <colgroup>
            <col width="5%" />
            <col width="10%" />
            <col width="8%" />
            <col width="8%" />
            <col width="8%" />
            <col width="8%" />
            <col width="43%" />
            <col width="10%" />
        </colgroup>
        <thead>
            <tr>
                <th style="text-align:center;">序号</th>
                <th style="text-align:center;">公司</th>
                <th style="text-align:center;">部门</th>
                <th style="text-align:center;">岗位</th>
                <th style="text-align:center;">审批人</th>
                <th style="text-align:center;">状态</th>
                <th style="text-align:center;">审批意见</th>
                <th style="text-align:center;">审批时间</th>
            </tr>
        </thead>
        <tbody id="ApprTran"></tbody>
    </table>
</form>
<form class="layui-form" id="test" style="display:none">
    <br />
    <div class="layui-form-item layui-form-text">
        <label class="layui-form-label">退回到</label>
        <div class="layui-input-block">
            <select name="Thr" id="thrSelect" lay-verify="" lay-filter="thrSelect" lay-search></select>
        </div>
    </div>
</form>

<script>
    var layer; var form, result;
    layui.use(['table', 'form'], function () {
        form = layui.form, layer = layui.layer;
        form.render();
        form.on('radio(UserRadio)', function (data) {
            $("#AssignUser").val(data.elem.title);
            $("#AssignUser").attr("title", data.value);
        });
        GetApprNodes();
        GetApprTran();
    });

    function ClearChoose() {
        $('input[name=User]').prop('checked', false);
        form.render('radio');
        $("#AssignUser").val("");
        $("#AssignUser").attr("title","");
    }

    function GetApprNodes() {
        $.ajax({
            type: 'get',
            dataType: 'json',
            data: {
                ApprTypeCode: 'UserAppr1',//'@ViewBag.ApprTypeCode',
                SourceId: 1//'@ViewBag.SourceId'
            },
            url: '@Url.Action("GetApprNodes", "WorkFlow")',
            success: function (res) {
                if (res.code == 0) {
                    //起始节点
                    var nodes = "";
                    var n = -70;
                    var m = -5;
                    for (var i = 0; i < res.data.length; i++) {
                        n = n + 90;
                        m = m + 90;
                        if (res.data[i].NodeCode == res.current_note) {
                            nodes += "<div  style='position: absolute; width: 70px; left: " + n + "px;text-align: center;'> <img  src='../../images/person_finish.png' style='height: 37px; width: 35px'  /><div  style='background:#66FFCC;color:#000000; font-size: small;'>" + res.data[i].NodeName + "</div>   </div>";
                        } else {
                            if (res.current_note == -99) {
                                if (res.data[i].Type == "start") {
                                    nodes += "<div  style='position: absolute; width: 70px; left: " + n + "px;text-align: center;'> <img  src='../../images/person_finish.png' style='height: 37px; width: 35px'  /><div  style='background:#66FFCC;color:#000000; font-size: small;'>" + res.data[i].NodeName + "</div>   </div>";
                                } else {
                                    nodes += "<div  style='position: absolute; width: 70px; left: " + n + "px;text-align: center;'> <img  src='../../images/person.png' style='height: 37px; width: 35px'  /><div  style='background:#CCCCFF;color:#000000; font-size: small;'>" + res.data[i].NodeName + "</div>   </div>";
                                }
                            } else {
                                nodes += "<div  style='position: absolute; width: 70px; left: " + n + "px;text-align: center;'> <img  src='../../images/person.png' style='height: 37px; width: 35px'  /><div  style='background:#CCCCFF;color:#000000; font-size: small;'>" + res.data[i].NodeName + "</div>   </div>";
                            }
                        }
                        if (i != res.data.length - 1) {
                            nodes += "<div  style='position: absolute; width: 20px; left: " + m + "px; text-align: center; vertical-align: middle; height: 100px;'><img alt='' src='../../images/right.png' style='height: 37px; width: 35px'  /></div>";
                        }
                    }
                    $("#ApprNode").contents().find("body").append(nodes);
                    $("#NextNodeName").val(res.NextNodeName);
                    if (res.NextNodeType != "end") {
                        $("#AssignUser").click(function () {
                            //if (res.NextNodeType == "end") {
                            //    layer.msg("下一节点为结束节点，不需要选人员", { icon: 5 }); return;
                            //}
                            layer.open({
                                type: 2,
                                area: ['95%', '95%'],
                                title: "选择人员",
                                content: '@Url.Action("ChooseNextNodeApprUser", "WorkFlow")'
                            });
                        });
                        GetNextNodePro(res.NextNodeId);
                    }
                    if (res.current_note != -99) {
                        GetBackNodes();
                    }
                    form.render();
                } else {
                    layer.msg(res.msg, { icon: 5 });
                }
            },
            error: function () {
                layer.msg("请求接口出错，请联系管理员", { icon: 5 });
            }
        });
    }

    function GetApprTran() {
        if ('@ViewBag.ApprId' == '') {
            $("#ApprTran").append("<td colspan=\"8\" align=\"center\">暂无数据</td>");
            return;
        }
        $.ajax({
            type: 'get',
            dataType: 'json',
            data: {
                ApprId: '@ViewBag.ApprId'
            },
            url: '@Url.Action("GetApprTran", "WorkFlow")',
            success: function (res) {
                if (res.code == 0) {
                    var tables = "";
                    for (var i = 0; i < res.data.length; i++) {
                        tables += "<tr><td>" + res.data[i].TranNumber + "</td><td>" + res.data[i].CorpName + "</td><td>" + res.data[i].DeptName + "</td><td>" + res.data[i].PostName + "</td><td>" + res.data[i].UserName + "</td><td>" + res.data[i].Status + "</td><td style='word-break:break-all; word-wrap:break-word;'>" + (res.data[i].ApprNote == null ? "" : res.data[i].ApprNote) + "</td><td>" + res.data[i].SubmissionTime + "</td></tr>";
                    }
                    $("#ApprTran").append(tables);
                } else {
                    layer.msg(res.msg, { icon: 5 });
                }
            }, error: function () {
                layer.msg("接口出错，请联系管理员", { icon: 5 });
            }
        });
    }

    function GetNextNodePro(NodeId) {
        $.ajax({
            type: 'get',
            dataType: 'json',
            data: {
                NodeId: NodeId
            },
            url: '@Url.Action("GetNextNodePro", "WorkFlow")',
            success: function (res) {
                if (res.code == 0) {
                    var PersonRadio = "";
                    if (res.assign != -99) {
                        $("#zdyry").css("display", "none");
                    }
                    $("#AssignUser").val(res.UserName);
                    $("#AssignUser").attr("title", res.assign);
                    for (var i = 0; i < res.data.length; i++) {
                        PersonRadio += '<input type="radio" lay-filter=\"UserRadio\" name="User" value="' + res.data[i].UserId + '" title="' + res.data[i].UserName + '">'
                    }
                    $("#div_person").append(PersonRadio);
                    form.render();
                } else {
                    layer.msg(res.msg, { icon: 5 });
                }
            }, error: function () {
                layer.msg("接口出错，请联系管理员", { icon: 5 });
            }
        });
    }

    function GetBackNodes() {
        $.ajax({
            type: 'get',
            dataType: 'json',
            data: {
                ApprId: '@ViewBag.ApprId'
            },
            url: '@Url.Action("GetBackNodes", "WorkFlow")',
            success: function (res) {
                if (res.code == 0) {
                    var thr_html = '<option value="-1">发起人</option>';
                    if (res.count > 0) {
                        $.each(res.data, function (index, item) {
                            thr_html += '<option value="' + item.SubmitNodeId + '">' + item.NodeName + '</option>';
                        });
                    }
                    $('#thrSelect').append(thr_html);
                    $("#thrSelect").val('-1');
                    form.render('select');
                } else {
                    layer.msg(res.msg, { icon: 5 });
                }
            }, error: function () {
                layer.msg("接口出错，请联系管理员", { icon: 5 });
            }
        });
    }

    function btnBack() {
        if ($("#btnBack").hasClass("layui-btn-disabled")) { return; };
        layer.open({
            type: 1,
            area: ['650px', '300px'],
            title: '退回'
            , content: $("#test"),
            shade: 0,
            btn: ['确定退回', '取消']
            , btn1: function (index, layero) {
                var ii = 0;
                layer.confirm('确认退回吗？', { btn: ['是', '否'], icon: 3, title: '提示' }, function (index) {
                    ii++;
                    if (ii == 1) {

                    }
                });
                return false;
            },
            btn2: function (index, layero) {
                $("#backReason").val("");
                layer.closeAll();
                return false;
            },
            cancel: function (layero, index) {
                $("#backReason").val("");
                layer.closeAll();
            }
        });
    }

    function btnPrint(url) {
        if ($("#btnPrint").hasClass("layui-btn-disabled")) { return; };
        layer.open({
            type: 2,
            area: ['85%', '95%'],
            title: '打印 - 审批',
            content: ''
        });
    }
</script>