
@{
    Layout = null;
}

<script src="~/js/jquery-3.2.1.min.js"></script>
<script src="~/layui/layui.js"></script>
<link href="~/layui/css/layui.css" rel="stylesheet" />
<script>
        var table, ins, layer;
        layui.use(['table', 'layer'], function () {
            table = layui.table, layer = layui.layer;
            ins = table.render({
                elem: "#table1",
                height: document.documentElement.clientHeight - 80,
                url: '@Url.Action("GetButton","Button")',
                where: {
                    BUTTON_NAME:''
                },
                method: 'Get',
                page: true,
                limit: 20,
                limits: [20, 30, 40, 50],
                cols: [[
                    { type: 'checkbox', fixed: 'left'},
                    { field: 'ButtonId', hide: true },
                    { field: 'ButtonElementId', title: '按钮htmlID', sort: true },
                    { field: 'ButtonName', title: '按钮名称', sort: true },
                    { field: 'ButtonIcon', title: '按钮图标', sort: true },
                    { field: 'ButtonEvent', title: '按钮事件', sort: true },
                    { field: 'ButtonColor', title: '按钮颜色', sort: true },
                    { field: 'ButtonSort', title: '按钮顺序', sort: true }
                ]]
            });
        });
        function btnEdit() {
            var checkState = table.checkStatus('table1');
            if (checkState.data.length > 0) {
                if (checkState.data.length > 1) {
                    layer.msg("编辑只能勾选单行数据", { icon: 5 }); return;
                }
                layer.open({
                    type: 2,
                    area: ["750px", "500px"],
                    title: "编辑 - 按钮",
                    content: '@Url.Action("EditButton","Button")' + "?status=Edit&Rowid=" + checkState.data[0].ButtonId
                });
            } else {
                layer.msg("请勾选一行数据后再点击编辑按钮", { icon: 5 });
            }
        }
        function btnAdd() {
            layer.open({
                type: 2,
                area: ["750px", "500px"],
                title: "新增 - 按钮",
                content: '@Url.Action("EditButton","Button")' + "?status=Add&Rowid="
            });
        }
        function btnDel() {
            var checkState = table.checkStatus('table1');
            if (checkState.data.length > 0) {
                var obj=[];
                layer.confirm("确定删除勾选的数据吗？", { btn: ["是", "否"], icon: 3, title: '提示' }, function () {
                    for (var i = 0; i < checkState.data.length; i++) {
                        obj.push(checkState.data[i].ButtonId);
                    }
                    $.ajax({
                        type: 'Post',
                        dataType: 'json',
                        traditional: true,
                        url: '@Url.Action("Delete","Button")',
                        data: {
                            id: obj
                        }, success: function (res) {
                            if (res.code == 200) {
                                layer.msg(res.msg, { icon: 6 });
                                Refresh();
                            } else {
                                layer.msg(res.msg, { icon: 5 });
                            }
                        }, error: function () {
                            layer.msg("接口出错，请联系管理员", { icon: 5});
                        }
                    });
                });
            } else {
                layer.msg("请勾选数据后再点击删除按钮", { icon: 5 });
            }
        }
        function Refresh() {
            table.reload("table1", {
                url: '@Url.Action("GetButton","Button")',
                where: {
                    BUTTON_NAME: $("#BUTTON_NAME").val()
                }, method: "Get",
                page: {
                    curr: 1
                }
            });
        }
</script>
<div>
    <br />
    <div class="layui-inline">
        <div class="layui-input-inline"></div>
        <div class="layui-input-inline">
            <input class="layui-input" type="text" id="BUTTON_NAME" placeholder="按钮名称" />
        </div>
        <button class="layui-btn layui-btn-sm layui-btn-primary" onclick="Refresh()">查询</button>
        <button class="layui-btn layui-btn-sm" onclick="btnAdd()">新增</button>
        <button class="layui-btn layui-btn-sm layui-btn-normal" onclick="btnEdit()">编辑</button>
        <button class="layui-btn layui-btn-sm layui-btn-danger" onclick="btnDel()">删除</button>
    </div>
    <table id="table1" lay-filter="table1"></table>
</div>
